<div class="container">
  <div class="row">
    <div class="col-md-2">
      <a href="javascript:history.back()"><< Back</a>
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-4">
              <h4>Name</h4>
            </div>
            <div class="col-md-4">
              <h4>{{product.name}}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h4>Model</h4>
            </div>
            <div class="col-md-4">
              <h4>{{product.model}}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h4>Brand</h4>
            </div>
            <div class="col-md-4">
              <h4>{{product.brand}}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h4>Year</h4>
            </div>
            <div class="col-md-4">
              <h4>{{product.year}}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h4>RAM</h4>
            </div>
            <div class="col-md-4">
              <h4>{{product.ram}}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h4>External Storage</h4>
            </div>
            <div class="col-md-4">
              <h4>{{product.external_storage}}</h4>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
