#header {
  background-color: black;
  color: white;
  top: 0px;
  min-height: 100px;
  width: 100%;
}
#footer {
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  text-align: center;
  padding: 45px;
  background-color: black;
  color: white;
}
